[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.1.2"

[dev-packages]
flake8 = "~=4.0.1"
pylint = "~=2.15.6"
mccabe = ">=0.6.1"
pytest = "==7.1.2"

[requires]
python_version = "3.9"
